#1.) Ignores all training data
/training_data/raw_video/
/training_data/raw_pics/
/training_data/processed_pics/
/training_data/example_pics/
/training_data/NHRL_Training_Data/
/training_data/YOLO_Training/
/training_data/processed_pics.ziptraining_data/processed_pics.zip
